<!--The content below is only a placeholder and can be replaced.-->
<simple-notifications></simple-notifications>

<div style="text-align:center">
  <h1>Web-Timer</h1>
  Der Timer läuft seit {{secs}} Sekunden.<br/>
  Noch {{rest}} Sekunden bis zur nächsten Benachrichtigung.<br/>
  Benachrichtigung alle
    <input [(ngModel)]="minutes" (change)="change()" size="2"/> Minuten.<br/>
  Benachrichtigungen: {{notifications}}
</div>

